
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.xxx_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* CustomComponent1_341 */
.xxx_CustomComponent1_341 {
	margin: 0px 0px 0px 0px;
}
/* CustomComponent1_341_mobilecollapsblock_219 */
.xxx_CustomComponent1_341_mobilecollapsblock_219 {
	margin: 4px 8px 4px 8px;
}
.xxx_CustomComponent1_341_mobilecollapsblock_219 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* CustomComponent1_341_mobilelabel_222 */
.xxx_CustomComponent1_341_mobilelabel_222 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 20px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_223 */
.xxx_CustomComponent1_341_mobilelabel_223 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilecollapsblock_224 */
.xxx_CustomComponent1_341_mobilecollapsblock_224 {
	margin: 4px 8px 4px 8px;
}
.xxx_CustomComponent1_341_mobilecollapsblock_224 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* CustomComponent1_341_mobilelabel_227 */
.xxx_CustomComponent1_341_mobilelabel_227 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_228 */
.xxx_CustomComponent1_341_mobilelabel_228 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_230 */
.xxx_CustomComponent1_341_mobilelabel_230 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_233 */
.xxx_CustomComponent1_341_mobilelabel_233 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_234 */
.xxx_CustomComponent1_341_mobilelabel_234 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_235 */
.xxx_CustomComponent1_341_mobilelabel_235 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_236 */
.xxx_CustomComponent1_341_mobilelabel_236 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilecollapsblock_237 */
.xxx_CustomComponent1_341_mobilecollapsblock_237 {
	margin: 4px 8px 4px 8px;
}
.xxx_CustomComponent1_341_mobilecollapsblock_237 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* CustomComponent1_341_mobilelabel_240 */
.xxx_CustomComponent1_341_mobilelabel_240 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_241 */
.xxx_CustomComponent1_341_mobilelabel_241 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_242 */
.xxx_CustomComponent1_341_mobilelabel_242 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_243 */
.xxx_CustomComponent1_341_mobilelabel_243 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_244 */
.xxx_CustomComponent1_341_mobilelabel_244 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_245 */
.xxx_CustomComponent1_341_mobilelabel_245 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_246 */
.xxx_CustomComponent1_341_mobilelabel_246 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_247 */
.xxx_CustomComponent1_341_mobilelabel_247 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_248 */
.xxx_CustomComponent1_341_mobilelabel_248 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_249 */
.xxx_CustomComponent1_341_mobilelabel_249 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilecollapsblock_250 */
.xxx_CustomComponent1_341_mobilecollapsblock_250 {
	margin: 4px 8px 4px 8px;
}
.xxx_CustomComponent1_341_mobilecollapsblock_250 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* CustomComponent1_341_mobilelabel_253 */
.xxx_CustomComponent1_341_mobilelabel_253 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_254 */
.xxx_CustomComponent1_341_mobilelabel_254 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_255 */
.xxx_CustomComponent1_341_mobilelabel_255 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_256 */
.xxx_CustomComponent1_341_mobilelabel_256 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_257 */
.xxx_CustomComponent1_341_mobilelabel_257 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_258 */
.xxx_CustomComponent1_341_mobilelabel_258 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_259 */
.xxx_CustomComponent1_341_mobilelabel_259 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* CustomComponent1_341_mobilelabel_260 */
.xxx_CustomComponent1_341_mobilelabel_260 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_261 */
.xxx_mobilecollapsblock_261 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_261 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_264 */
.xxx_mobilelabel_264 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_265 */
.xxx_mobilecollapsblock_265 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_265 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_268 */
.xxx_mobilelabel_268 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_269 */
.xxx_mobilelabel_269 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_270 */
.xxx_mobilelabel_270 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_271 */
.xxx_mobilelabel_271 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_272 */
.xxx_mobilelabel_272 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_273 */
.xxx_mobilelabel_273 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_274 */
.xxx_mobilelabel_274 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_275 */
.xxx_mobilelabel_275 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_276 */
.xxx_mobilelabel_276 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_277 */
.xxx_mobilelabel_277 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_278 */
.xxx_mobilecollapsblock_278 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_278 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_281 */
.xxx_mobilelabel_281 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_282 */
.xxx_mobilelabel_282 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_283 */
.xxx_mobilelabel_283 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_284 */
.xxx_mobilelabel_284 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_285 */
.xxx_mobilelabel_285 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_286 */
.xxx_mobilelabel_286 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_287 */
.xxx_mobilelabel_287 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_288 */
.xxx_mobilecollapsblock_288 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_288 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_291 */
.xxx_mobilelabel_291 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_292 */
.xxx_mobilelabel_292 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_293 */
.xxx_mobilelabel_293 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_294 */
.xxx_mobilelabel_294 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_295 */
.xxx_mobilelabel_295 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_296 */
.xxx_mobilelabel_296 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_297 */
.xxx_mobilelabel_297 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_298 */
.xxx_mobilelabel_298 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_299 */
.xxx_mobilelabel_299 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_300 */
.xxx_mobilelabel_300 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_301 */
.xxx_mobilelabel_301 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_302 */
.xxx_mobilelabel_302 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_303 */
.xxx_mobilelabel_303 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_304 */
.xxx_mobilecollapsblock_304 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_304 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_307 */
.xxx_mobilelabel_307 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_308 */
.xxx_mobilecollapsblock_308 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_308 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_311 */
.xxx_mobilelabel_311 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_312 */
.xxx_mobilelabel_312 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_313 */
.xxx_mobilelabel_313 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_314 */
.xxx_mobilelabel_314 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_315 */
.xxx_mobilelabel_315 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_316 */
.xxx_mobilelabel_316 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_317 */
.xxx_mobilelabel_317 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_318 */
.xxx_mobilelabel_318 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_319 */
.xxx_mobilecollapsblock_319 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_319 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_322 */
.xxx_mobilelabel_322 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_323 */
.xxx_mobilelabel_323 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_324 */
.xxx_mobilelabel_324 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_325 */
.xxx_mobilelabel_325 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_326 */
.xxx_mobilelabel_326 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_327 */
.xxx_mobilelabel_327 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_328 */
.xxx_mobilelabel_328 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_329 */
.xxx_mobilecollapsblock_329 {
	margin: 4px 8px 4px 8px;
}
.xxx_mobilecollapsblock_329 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_332 */
.xxx_mobilelabel_332 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_333 */
.xxx_mobilelabel_333 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_334 */
.xxx_mobilelabel_334 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_335 */
.xxx_mobilelabel_335 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_336 */
.xxx_mobilelabel_336 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_337 */
.xxx_mobilelabel_337 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_338 */
.xxx_mobilelabel_338 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_339 */
.xxx_mobilelabel_339 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_340 */
.xxx_mobilelabel_340 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.xxx_mobilefooter {
	min-height:38px;
}